body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9fafc;
}

.app-header {
  background-color: #73000a; 
  color: white;
  text-align: center;
  
}

.main {
  padding: 20px;
  justify-content: center;
  
}

div {
  justify-content: center;
}


.main-nav .nav-link {
  text-decoration: none;
  color: #333;
  padding: 6px 8px;
  border-radius: 4px;
}

.main-nav .nav-link:hover {
  background: rgba(0,0,0,0.03);
}

.main-nav .nav-link.active {
  font-weight: 700;
  text-decoration: underline;
  color: #111;
}



